{% extends 'portfoliolist.html' %}
{% block itemslist %}
			<div class="blogitemscont">

			{% for post in postslist %}

			{% set alignames = ['leftalign', 'rightalign'] %}

					{% set poscategory = null %}

					{% if currentcategory == null %}

										{% set break = false %}

										{% for cat in post.categorylist if break == false %}
												{% if categories[cat].type == currenttype %}
															 {% set poscategory = categories[cat].slug %}
															 {% set break = true %}
												{% endif %}
										{% endfor %}

					{% else %}
								{% set poscategory = currentcategory %}
					{% endif %}

				<div class="blogitem {{ cycle(alignames, loop.index0) }}">

					<div class="imageblock">
						<div class="blogcategory">
							<span class="icons icon-webdesign"></span>
						</div>
						<a href="{{URL}}{{lang}}/posts/{{currenttype}}/{{poscategory}}/view/{{post.slug}}" class="imageitem"> <img src="{{post.thumb_image}}" /></a>
					</div><!--image end-->

					<div class="shortstory">
						<h1><a href="{{URL}}{{lang}}/posts/{{currenttype}}/{{poscategory}}/view/{{post.slug}}">{{post.title}}</a></h1>
						<span>{{post.date|date("d-M-Y")}}</span><div class="clear"></div>
						<p>{{post.shortstory}}</p>
					</div>

					<div class="clear"></div>
				</div><!--blogitem end-->
			{% endfor %}

			</div><!--blogitemscont end-->
			
{% endblock %}
