{% extends 'main.html' %}
{% block metatags %}
    <title>{{ fullstory.title }} - {{categories[currentcategory].title}} / {{langlist[lang].sitetitle}}</title>
    <meta name="description" content="{{fullstory.description}}" />
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="{{fullstory.title }} - {{langlist[lang].sitetitle}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{URL}}{{lang}}/posts/{{currenttype}}/{{currentcategory}}/view/{{fullstory.slug}}" />
    <meta property="og:image" content="{{fullstory.thumb_image}}" />
    <meta property="og:description" content="{{fullstory.shortstory}}" />
{% endblock%}

{% block content %}

    {% include 'blocks/innerheader.html' %}


	<div class="projectwrapper" style="padding:0px">
		<div class="projectcircles"></div>


			<div class="projecttitle">
				<h1>{{fullstory.title}}</h1>
				<div><h6>{{fullstory.view}}</h6><span>{{fullstory.date|date("d-M-Y")}}</span></div>
			</div>

      {% include 'blocks/sochialshare.html' %}



			<div class="projectfull">
        <div class="articlecontent">
				      {{fullstory.fullstory|raw}}
        </div><!--articleContent end-->


{% block articlerelated %}
				<div class="clear"></div>
				{% if fullstory.extras.site != null %}
				<a href="{{fullstory.extras.site}}" target="_blank" class="sitebutton">{% translate %}Visit Site{% endtranslate %}</a>
				{% endif %}
			</div><!--projectfull end-->

			<div class="clear"></div>

		<div class="projectsnav">
			<a href="{{URL}}{{lang}}/posts/{{currenttype}}/{{nextPrev.prev.category_slug}}/{{nextPrev.prev.slug}}" class="prev"><span>PREVIOUS - {{ nextPrev.prev.categoryname }}, {{ nextPrev.prev.title }} </span> </a>
			<a href="{{URL}}{{lang}}/posts/{{currenttype}}/{{nextPrev.next.category_slug}}/{{nextPrev.next.slug}}" class="next"><span>{{ nextPrev.next.title }}, {{ nextPrev.next.categoryname }} - NEXT</span></a>
		</div>

		<div id="portfolioscroll">

      {% for items in related %}

        <div class="items {{ items.category_slug }}">
          <div class="itemover" style="background:rgba({{ items.extra }} 0.5);">
            <div class="texts">
              <h2>{{items.title}}</h2>
              <p>{{items.categoryname}}</p>
              <a href="{{URL}}{{lang}}/posts/{{currenttype}}/{{ items.category_slug }}/{{items.slug}}">View More</a>
            </div>
          </div>
          <img src="{{URL}}{{items.thumb_image}}">
        </div>

      {% endfor %}

		</div><!--portfolioscroll end-->
{% endblock %}

	</div><!--projectwrapper end-->
{% endblock %}
