{% extends 'main.html' %}
{% block metatags %}
<title>{{categoryinfo.title}} - {{sitetitle}}</title>
<meta name="description" content="{{config.description}}" />
<meta name="twitter:card" value="summary">
<meta property="og:title" content="{{ categoryinfo.title }} - {{config.title}}" />
<meta property="og:type" content="{{ categoryinfo.title }}" />
<meta property="og:url" content="{{URL}}{{lang}}/{{categoryinfo.slug}}" />
<meta property="og:image" content="http://example.com/image.jpg" />
<meta property="og:description" content="{{typeinfo.description}}" />
{% endblock %}
{% block content %}
{% include 'blocks/innerheader.html' %}

	<div class="projectwrapper">
			<div class="projectcircles"></div>

			<div class="projecttitle">
				<h1>{{categoryinfo.title }}</h1>
			</div>
			<div class="projectstory">
				<p>{{categoryinfo.description}}</p>
			</div><!--projectstory end-->


{% block itemslist %}

				<div class="projectslist">

          {% for post in postslist %}

								{% set poscategory = null %}

								{% if currentcategory == null %}

													{% set break = false %}

													{% for cat in post.categorylist if break == false %}
															{% if categories[cat].type == currenttype %}
																		 {% set poscategory = categories[cat].slug %}
																		 {% set break = true %}
													 		{% endif %}
													{% endfor %}

								{% else %}
											{% set poscategory = currentcategory %}
								{% endif %}


	  					<div class="items {{post.categorylist|join(' ')}}">
  						<div class="itemover" style="background:{{ post.extras.color }}">
  							<div class="texts">
  								<h2>{{post.title}}</h2>
  								<p>
										{% for cats in post.categorylist %}
										<a href="{{URL}}{{lang}}/posts/{{categories[cats].type}}/{{cats}}" target="_blank">{{categories[cats].title}}</a>
										{% endfor %}
									</p>
  								<a class="readmore" href="{{URL}}{{lang}}/posts/{{currenttype}}/{{poscategory}}/view/{{post.slug}}">{% translate %}View More{% endtranslate %}</a>
  							</div>
  						</div>
  						<img src="{{post.thumb_image}}">
  					</div>
          {% endfor %}

				</div><!--projectslist end-->

{% endblock %}


		<div class="clear"></div>
		<a id="loadmore" data-lang="{{lang}}" data-link="{{URL}}postsajax/loadmorearticles" data-page="1" data-type="{{currenttype}}" data-category="{{currentcategory}}" class="sitebutton">{% translate %}Load More{% endtranslate %}</a>
		<div class="clear"></div>

		<script type="text/javascript">
				var categories = {{categories|json_encode|raw}};
						URL = '{{URL}}';
						LANG = '{{lang}}';
						VIEW = '{% translate %}View More{% endtranslate %}'
		</script>
	</div><!--projectwrapper end-->


{% include 'blocks/workedwith.html' %}

{% endblock %}
